{% load static %}
<div class="other-msg">
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/2.png'  %}">
                <div class="flex-grow-1"><span class="f-w-500">Alexendra Dhadio <span>1 Month Ago <i class="fa-solid fa-reply font-primary"></i></span></span>
                  <p>yes, really very awesome car i see the features of this car in the official website of #Mercedes-Benz and really impressed :-)</p>
                </div>
              </div>
</div>
