<form class="form theme-form dark-inputs" id="noProfileForm" novalidate="">
    <div class="row" id="noProfileFormWrapperRow">
        <div class="mb-3 mt-2 col-md-6">
            <label for="profileId" class="form-label"></label>
            <input class="form-control input-air-primary" type="text" id="profileId" required>
        </div>
    </div>
    <div class="row">
        <div class="mb-3 mt-2 col-md-6">
            <button class="btn btn-primary" type="button" id="noProfileSavePartButton">Submit</button>
        </div>
    </div>
</form>

