{% load static %}
<li class="profile-nav onhover-dropdown pe-0 py-0">
          <div class="d-flex profile-media"><img class="b-r-10" src="{% static 'assets/images/dashboard/profile.png' %}" alt="">
            <div class="flex-grow-1"><span>{{ user.first_name | capfirst }}</span>
              <p class="mb-0">
                  {% if user.is_authenticated and user.groups.all %}
                        {{ user.groups.all.0.name }}
                  {% else %}
                        No group
                  {% endif %}
                  <i class="middle fa-solid fa-angle-down"></i>
              </p>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li><a href="{% url 'profile' %}"><i data-feather="user"></i><span>Profile</span></a></li>
            <li><a href="#"><i data-feather="mail"></i><span>Inbox</span></a></li>
            <li><a href="{% url 'logout' %}"><i data-feather="log-in"> </i><span>Log out</span></a></li>
          </ul>
</li>
