{% extends 'layouts/themes/01/base.html' %}
{% load static %}
{% load sass_tags %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/photoswipe.css' %}">
{% endblock css %}

{% block content %}
    <div class="col-md-9 mt-1 pt-1">
        {% include 'dashboard/components/ckeditor.html' %}
    </div>
    <div class="col-md-9 mt-1 pt-1" id="dashboard-post-list">
        {% for post in posts %}
            {% include 'dashboard/components/posts/post-template.html' with username=post.username post_date=post.post_date content=post.content only%}
        {% empty %}
            <H5>NO POST</H5>
        {% endfor %}

    </div>
{% endblock content %}

{% block scriptcontent %}
    <script src="{% static 'assets/js/editor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'assets/js/editor/ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'assets/js/editor/ckeditor/styles.js' %}"></script>
    <script src="{% static 'assets/js/editor/ckeditor/ckeditor.custom.js' %}"></script>

    <script src="{% static 'assets/js/counter/counter-custom.js' %}"></script>
    <script src="{% static 'assets/js/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'assets/js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'assets/js/photoswipe/photoswipe.js' %}"></script>
    <script src="{% static 'assets/js/dashboard/main.js' %}" type="module"></script>
{% endblock scriptcontent %}
