{% extends 'layouts/themes/01/base.html' %}
{% load static %}
{% load sass_tags %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/quill.snow.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/select2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/dropzone.min.css' %}">
{% endblock css %}

{% block content %}
{% include 'dashboard/components/add-post.html' %}
{% endblock content %}

{% block scriptcontent %}
<script src="{% static 'assets/js/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/editors/quill.js' %}"></script>
<script src="{% static 'assets/js/custom-add-product4.js' %}"></script>
{% endblock scriptcontent %}
