{% extends 'layouts/themes/01/base.html' %}
{% load static %}

{% block content %}
    {% if profile %}
        <div class="mt-1 pt-1">
            {% include 'users/components/employee-information.html' %}
        </div>
    {% else %}
        <h5 class="text-danger">Cannot locate Employee Profile! Please provide your employee id</h5>
        <div class="col-md-3">
            {% include 'users/components/no-profile.html' %}
        </div>
        <div class="col-md-4" id="noProfileResult">

        </div>
    {% endif %}
{% endblock content %}

{% block scriptcontent %}
<script src="{% static 'assets/js/users/main.js'  %}" type="module"></script>
{% endblock scriptcontent %}
